.header > ul > li > a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.header > ul > li {
    list-style: none;
    display: inline;
}

.header {
    height: 50px;
    background-color: aqua;
}

.text {
    font-family: sans-serif;
}

.text > h1 + p{
    color: gray;
}